@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Outfit&display=swap");
* {
  padding: 0;
  margin: 0;
  color: #475b5a;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: black;
  overflow-x: hidden;
}

.landing {
  font-family: 'Outfit', sans-serif;
  overflow: hidden;
}

html:focus {
  outline: none;
}

html .circle {
  position: fixed;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-animation: scale 0.5s ease-out;
          animation: scale 0.5s ease-out;
  z-index: 100;
}

@-webkit-keyframes scale {
  to {
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

@keyframes scale {
  to {
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.indexTop {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 50vh;
  width: 100vw;
}

.indexTop .greet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: lightgray;
  font-size: 5vw;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-name: introZoom;
          animation-name: introZoom;
}

.indexBottom {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50vh;
  width: 100vw;
}

.indexBottom .fname {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #475b5a;
  font-size: 10vw;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-name: introZoom;
          animation-name: introZoom;
}

.indexBottom .lname {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #a3a9aa;
  font-size: 10vw;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-name: introZoom;
          animation-name: introZoom;
}

@-webkit-keyframes introZoom {
  0% {
    font-size: 10%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes introZoom {
  0% {
    font-size: 10%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
  height: 10vh;
  width: 100vw;
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  width: inherit;
}

nav .navItem {
  color: #475b5a;
  margin: 1rem 0;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
  height: 1.5rem;
  -webkit-animation-name: navIntro;
          animation-name: navIntro;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

nav .navItem:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #138808;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

nav .navItem:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

nav li {
  list-style-type: none;
}

@-webkit-keyframes navIntro {
  0% {
    bottom: -3rem;
    opacity: 0;
  }
  20% {
    bottom: -1rem;
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes navIntro {
  0% {
    bottom: -3rem;
    opacity: 0;
  }
  20% {
    bottom: -1rem;
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

header {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 1em;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

header .logo {
  color: whitesmoke;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle:active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.mainBody {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 150px 5% 10% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.mainBody.active {
  right: 200px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.menu a:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #138808;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.menu a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.aboutContent {
  padding: 3rem;
}

.aboutContent .inbetName {
  color: lightgray;
  font-size: 0.8rem;
}

.aboutContent .aboutTitle {
  font-size: 4vw;
  text-align: center;
}

.aboutContent .aboutText {
  margin: 1rem 0 1rem 0;
  text-align: justify;
}

.aboutContent .aboutCenter {
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
  color: white;
}

.aboutContent .aboutQuote {
  text-align: end;
  font-style: italic;
  font-size: 0.8rem;
  color: whitesmoke;
}

.projectContainer {
  width: auto;
  z-index: 0;
  margin: 2rem 0;
}

.projectContainer:hover {
  -webkit-transform: translateX(5vw);
          transform: translateX(5vw);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.projectContainer .projectLink {
  text-decoration: none;
}

.projectContainer .projectTitle {
  font-size: 5vw;
  color: whitesmoke;
}

.projectContainer .projectDescription {
  font-size: 2vw;
}

@media (max-width: 599px) {
  .projectContainer {
    width: auto;
    z-index: 0;
    margin: 1rem 0;
  }
  .projectContainer:hover {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .projectContainer .projectLink {
    text-decoration: none;
  }
  .projectContainer .projectTitle {
    font-size: 2rem;
    color: whitesmoke;
  }
  .projectContainer .projectDescription {
    font-size: 1rem;
  }
}

.projects .projectEntry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

.projects .credText {
  padding: 1rem 0 1rem 2rem;
  text-align: justify;
}

.projects .credTitle {
  font-size: 1.5rem;
  color: whitesmoke;
}

.projects .credli {
  margin: 0 0 0 1.5rem;
}

.projects .boldlist {
  color: whitesmoke;
  font-weight: normal;
}

.projects .image-container {
  background-color: white;
  height: 10em;
  border-radius: 25px;
}

.projects .image-container .credImg {
  width: 10em;
  height: 10em;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 25px;
}

@media (max-width: 599px) {
  .projects {
    padding: 1em;
  }
  .projects .projectEntry {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .projects .projectEntry .image-container {
    background-color: white;
    height: 10em;
    border-radius: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .projectEntry .image-container .credImg {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 25px;
  }
  .projects .credText {
    font-size: 0.8rem;
  }
}

.social {
  position: absolute;
  bottom: 5vh;
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  margin-right: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social li a:hover {
  -webkit-transform: scale(0.5) translateY(-15px);
          transform: scale(0.5) translateY(-15px);
}

.social li a .contactLogo {
  height: 40px;
  width: 40px;
}

.social .socialText {
  color: whitesmoke;
  font-size: 0.7rem;
  margin: 0 1rem 0 0;
}

@media (max-width: 599px) {
  .social {
    position: fixed;
    display: -ms-grid;
    display: grid;
    bottom: 0;
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
  }
  .social .socialText {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: twelve;
  }
}

.contactBody {
  display: -ms-grid;
  display: grid;
  width: 100%;
  text-align: center;
}

.contactBody .contactForm {
  width: inherit;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactBody .contactForm .inputArea {
  width: 60%;
  margin: 0.2rem 0;
  border: solid 2px #475b5a;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: lightgray;
}

.contactBody .contactForm .inputSmall {
  height: 2.5rem;
}

.contactBody .contactForm button {
  background-color: #475b5a;
  color: whitesmoke;
  width: 60%;
  margin: 0.2rem 0;
  border: solid 2px #475b5a;
  border-radius: 10px;
  height: 2.5rem;
}

.contactBody .contactForm .inputMsg {
  width: 60%;
  margin: 0.2rem 0;
  border: solid 2px #475b5a;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: lightgray;
}

.contactBody .contactForm #my-form-status {
  padding: 0.5rem;
  height: 2rem;
  font-size: 1rem;
  width: auto;
  color: white;
  text-align: center;
}

@media (max-width: 599px) {
  .mainBody .contactBody {
    position: absolute;
    width: 90vw;
    top: 15vh;
    margin: 0;
  }
  .mainBody .contactBody .contactForm .inputArea {
    width: 100%;
  }
  .mainBody .contactBody .contactForm .inputSmall {
    height: 2.5rem;
  }
  .mainBody .contactBody .contactForm button {
    width: 100%;
  }
  .mainBody .contactBody .contactForm .inputMsg {
    width: 100%;
  }
}

.projectsBody {
  background-color: black;
  height: 100%;
  width: 100vw;
  text-align: justify;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
}

.projectsBody h1 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
}

.projectsBody h3 {
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}

.projectsBody .videoShowcase {
  margin: 2rem 0;
  text-align: center;
}

.projectsBody .videoShowcase a {
  text-decoration: none;
}

.projectsBody .videoShowcase a p {
  color: whitesmoke;
  font-size: 0.7rem;
}

.projectsBody .videoShowcase iframe {
  height: 50vh;
  width: 60vw;
}

.projectsBody .backPage {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projectsBody .backPage a {
  text-decoration: none;
}

.projectsBody .backPage a .backButton {
  border-radius: 50%;
  height: 40px;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectsBody .backPage a p {
  font-size: 0.5rem;
  text-align: center;
  color: whitesmoke;
}

.miniProjects .projectsBody .extraProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  overflow: hidden;
}

.miniProjects .projectsBody .extraProjects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
}

.miniProjects .projectsBody .extraProjects .container .panel {
  background-color: #475b5a;
  display: -ms-grid;
  display: grid;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  margin: 1em;
  position: relative;
  -webkit-transition: -webkit-box-flex 0.7s ease-in;
  transition: -webkit-box-flex 0.7s ease-in;
  transition: flex 0.7s ease-in;
  transition: flex 0.7s ease-in, -webkit-box-flex 0.7s ease-in, -ms-flex 0.7s ease-in;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.miniProjects .projectsBody .extraProjects .container .panel h3,
.miniProjects .projectsBody .extraProjects .container .panel p {
  font-size: 2rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  color: #475b5a;
}

.miniProjects .projectsBody .extraProjects .container .activePanel {
  background-color: whitesmoke;
}

.miniProjects .projectsBody .extraProjects .container .panel.activePanel {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  cursor: default;
}

.miniProjects .projectsBody .extraProjects .container .panel.activePanel h3,
.miniProjects .projectsBody .extraProjects .container .panel.activePanel p {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in 0.4s;
  transition: opacity 0.3s ease-in 0.4s;
}

.miniProjects .projectsBody .extraProjects .container .panel.activePanel .passwordGenerator,
.miniProjects .projectsBody .extraProjects .container .panel.activePanel .calculator,
.miniProjects .projectsBody .extraProjects .container .panel.activePanel .joke-container {
  display: inherit;
  -webkit-transition: 4s ease-in 5s;
  transition: 4s ease-in 5s;
}

@media (max-width: 480px) {
  .miniProjects .projectsBody .extraProjects .container {
    width: 100vw;
  }
  .miniProjects .projectsBody .extraProjects .panel:nth-of-type(4),
  .miniProjects .projectsBody .extraProjects .panel:nth-of-type(5) {
    display: none;
  }
}

.passwordGenerator {
  display: none;
  background-color: #bbbbbf;
  -webkit-box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  padding: 2rem;
  width: 20rem;
  max-width: 100%;
  height: 24em;
}

.passwordGenerator .btn {
  border: none;
  background-color: #8d8e8e;
  font-size: 1rem;
  cursor: pointer;
}

.passwordGenerator .btn img {
  height: 1rem;
  width: 1rem;
  -webkit-filter: opacity(1) invert(0.8);
          filter: opacity(1) invert(0.8);
}

.passwordGenerator .btn-large {
  display: block;
  width: 100%;
  -webkit-filter: invert(0) opacity(1);
          filter: invert(0) opacity(1);
  color: whitesmoke;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.passwordGenerator .result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 0.7rem 0.7rem;
  height: 3rem;
  width: 100%;
}

.passwordGenerator .result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 2rem);
  color: whitesmoke;
}

.passwordGenerator .result-container .btn {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0.5rem;
  right: 5px;
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
}

.passwordGenerator .settings .setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}

.passwordGenerator .settings .setting label {
  color: black;
}

.passwordGenerator .settings .setting input {
  color: black;
}

.calculator {
  display: none;
  background-color: #bbbbbf;
  -webkit-box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  padding: 0;
  width: 20rem;
  max-width: 100%;
  height: 24em;
  overflow: hidden;
}

.calculator .calc-display {
  background-color: rgba(0, 0, 0, 0.4);
  height: 6rem;
  width: 100%;
  text-align: right;
  padding: 0.5rem;
}

.calculator .calc-display .cal-display1 {
  opacity: 0.4;
  font-size: 1rem;
  height: 1.5rem;
  overflow: hidden;
  color: white;
}

.calculator .calc-display .cal-display2 {
  font-size: 1.5rem;
  color: white;
  height: 2rem;
}

.calculator .calc-display .cal-temp-result {
  color: white;
  position: relative;
  text-align: left;
  left: 1rem;
  opacity: 0.4;
}

.calculator .all-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(4, 1fr)/repeat(4, 1fr);
  background-color: #bbbbbf;
}

.calculator .all-buttons .cal-button {
  border: 1px silver;
  height: 3.65rem;
  color: #475b5a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.calculator .all-buttons .cal-button:hover {
  background: #bbbbbf;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.calculator .all-buttons .cal-button-zero {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.joke-container {
  display: none;
}

.joke-container .joke-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #bbbbbf;
  -webkit-box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-radius: 10px;
  width: 30em;
  height: 20em;
}

.joke-container .joke-box .joke-title {
  font-size: 1rem;
}

.joke-container .joke-box #joke-area {
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
}

.joke-container .joke-box #joke-btn {
  background-image: url("https://cdn-icons.flaticon.com/png/512/2959/premium/2959052.png?token=exp=1642844147~hmac=c36ae6363e1af8336c8e98e95fc8d4b3");
  overflow: hidden;
  height: 4em;
  width: 4em;
  border: none;
  border-radius: 50px;
}

.joke-container .joke-box .btn {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */